$breakpoints: (
  'smd': 'screen and (max-width: 576px)',
  'sm': 'screen and (min-width: 576px)',
  'md': 'screen and (min-width: 768px)',
  'lg': 'screen and (min-width: 992px)',
  'xl': 'screen and (min-width: 1100px)',
  'pc1': 'screen and (min-width: 1250px)'
) !default;

@mixin media($breakpoint) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

.container {
  margin-top: 80px;
  width: 50%; // Adjust as needed to leave some space between items
  // margin-bottom: 20px; // Adjust margin as needed
  @include media(smd) {
    width: 100%;
  }
  @include media(sm) {
    width: 100%;
  }
  @include media(lg) {
    width: 50%;
  }
  .content {
    display: flex;
    align-items: center;
    .imgBlock {
      .imgStyle {
        @include media(smd) {
          width: 200px;
          height: 150px;
        }
        @include media(sm) {
          width: 400px;
          height: 320px;
        }
        @include media(lg) {
          width: 170px;
          height: 130px;
        }
        @include media(xl) {
          width: 200px;
          height: 156px;
        }

        @include media(pc1) {
          width: 320px;
          height: 250px;
        }

      }
    }
    .textBlock {
      width: 330px;
      padding: 30px;
      @include media(smd) {
        width: 100%;
      }
      .subTitle {
        font-weight: bold;
        @include media(smd) {
          font-size: 16px;
        }
        @include media(sm) {
          font-size: 32px;
        }
        @include media(lg) {
          font-size: 16px;
        }
        @include media(xl) {
        font-size: 18px;
        }

        @include media(pc1) {
          font-size: 20px;
        }
      }
      .title {
        @include media(sm) {
          font-size: 32px;
        }
        @include media(lg) {
          font-size: 28px;
        }
        @include media(xl) {
        font-size: 32px;
        }

        @include media(pc1) {
          font-size: 36px;
        }
      }
      .purple {
        color: #7000FF;
      }
      .orange {
        color: #FF8A00;
      }
      .egreen {
        color: #00B027;
      }
      .green {
        color: #2C8602;
      }
      .blue {
        color: #1601FF;
      }
      .text {
        font-weight: 300;
        font-size: 16px;
        @include media(sm) {
          font-size: 22px;
        }
        @include media(lg) {
          font-size: 12px;
        }
        @include media(xl) {
        font-size: 14px;
        }

        @include media(pc1) {
          font-size: 16px;
        }
      }
      .btn {
        border-radius: 30px;
        padding: 10px;
        text-align: center;
        margin: 10px 0;
        width: 200px;
        @include media(smd) {
          width: 100%;
        }
      }
      .purple-btn {
        border: 1px solid #7000FF;
      }
      .orange-btn {
        border: 1px solid #FF8A00;
      }
      .egreen-btn {
        border: 1px solid #00B027;
      }
      .green-btn {
        border: 1px solid #2C8602;
      }
      .blue-btn {
        border: 1px solid #1601FF;
      }
    }
  }


}